.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 20px;
  padding: auto;
  font-size: 40px;
  font-weight: 400;
  border-radius: 10px;
  border: solid 4px #583030;
  color: rgb(96, 0, 186);
}

select {
  margin: 20px;
  padding: 5px;
  font-size: 30px;
  font-weight: 200;
  border-radius: 5px;
  color: blue;
}
